html {
  height: 100%;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;

  & > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

pre {
  font-size: 80%;
}
