extends layout

block stylesheet
    link(rel='stylesheet', href='/css/error.css')

block content
    body(class='d-flex flex-column h-100')
        header
            nav(class='navbar navbar-expand-md navbar-dark fixed-top bg-dark')
                a(class='navbar-brand' href='/')=config.appName
        main(role='main' class='flex-shrink-0')
            div(class='container')
                h1(class='mt-5')=message
                p(class='lead')=error.status
                pre #{error.stack}
        footer(class='footer mt-auto py-3')
            div(class='container')
                span(class='text-muted')=config.copyright
