extends layout

block stylesheet
    link(rel='stylesheet', href='/css/home.css')

block content
    body(class='text-center')
        div(class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column')
            header(class='masthead mb-auto')
                div(class='inner')
                    h3(class='masthead-brand')=config.appName
            main(role='main' class='inner cover')
                button(type='button' class='btn btn-dark shadow-sm' data-toggle='collapse' data-target='#config'
                    aria-expanded='false' aria-controls='config')
                    img(src='/img/icon.png' alt='Server icon')
                div(class='collapse pt-2' id='config')
                    div(class='card card-body bg-dark shadow-sm w-25 m-auto')
                        p(class='card-text')='Version: ' + config.version
            footer(class='mastfoot mt-auto')
                div(class='inner')
                    p=config.copyright
