doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title= config.appName + config.titleSep + title
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        block stylesheet
    body
        block content
        script(src='/js/jquery.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        block javascript
